.sidebar {
    height: 100vh;
    width: auto;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar-item {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #555;
  }
  
  // src/Content.css
  .content {
    flex-grow: 1;
    padding: 40px;
  }