.expense-container{
    height: 60vh;
    width: 52.5vw;
    margin-left: 0.5vw;
    box-sizing: border-box;
    background: #30355b;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow-y: scroll;
    padding: 20px;   
}